In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Absenteeism_data.csv")

In [3]:
raw_data = data.copy()

In [4]:
data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [5]:
data = data.drop(["ID"], axis=1)
#ID doesn't really help in prediction process

In [6]:
data.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [7]:
reason_col = pd.get_dummies(data["Reason for Absence"])

In [8]:
reason_col

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
reason_col["check"] = reason_col.sum(axis=1)

In [10]:
reason_col.head(40)

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [11]:
reason_col = reason_col.drop(["check"],axis=1)

In [12]:
age_col = pd.get_dummies(data["Age"])
age_col

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
696,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [13]:
age_col["check"] = age_col.sum(axis=1)
age_col

,27,28,29,30,31,32,33,34,36,37,...,40,41,43,46,47,48,49,50,58,check
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
696,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [14]:
age_col["check"].sum()

700

In [15]:
age_col["check"].unique()

array([1], dtype=int64)

For the reasons we can form groups wrt the type of reasons ,in order to categorize it.<br>
The groups are 1-14,15-17,18-21,22-28

In [16]:
r1 = reason_col.iloc[:,0:15].max(axis=1)
r2 = reason_col.iloc[:,15:18].max(axis=1)
r3 = reason_col.iloc[:,18:22].max(axis=1)
r4 = reason_col.iloc[:,22:29].max(axis=1)

In [17]:
data = pd.concat([data,r1,r2,r3,r4], axis=1)

In [18]:
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,1,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [19]:
data.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 0, 1, 2, 3], dtype=object)

In [20]:
col_names=['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason1', 'Reason2', 'Reason3', 'Reason4']
data.columns = col_names

In [21]:
col_names = [ 'Reason1', 'Reason2', 'Reason3', 'Reason4','Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

data = data[col_names]
data.head()

,Reason1,Reason2,Reason3,Reason4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [22]:
data["Date"] = pd.to_datetime(data["Date"], format = '%d/%m/%Y')

In [23]:
data["Date"]

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [24]:
month_list = []

for i in range(len(data["Date"])):
    month_list.append(data["Date"][i].month)

month_list

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [25]:
data["Month value"] = month_list
data.head()

,Reason1,Reason2,Reason3,Reason4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month value
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [26]:
week_list = []

for i in range(len(data["Date"])):
    week_list.append(data["Date"][i].weekday())

week_list

[1,
 1,
 2,
 3,
 3,
 4,
 4,
 4,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 4,
 4,
 0,
 3,
 2,
 2,
 0,
 0,
 4,
 0,
 0,
 1,
 2,
 2,
 4,
 0,
 3,
 3,
 0,
 0,
 0,
 1,
 3,
 4,
 4,
 1,
 0,
 1,
 1,
 2,
 6,
 0,
 3,
 4,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 4,
 4,
 4,
 1,
 1,
 2,
 3,
 4,
 4,
 1,
 2,
 2,
 3,
 2,
 2,
 3,
 1,
 1,
 2,
 4,
 4,
 3,
 2,
 3,
 3,
 3,
 0,
 0,
 0,
 2,
 4,
 2,
 2,
 4,
 4,
 0,
 1,
 2,
 3,
 1,
 1,
 2,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 4,
 4,
 4,
 2,
 0,
 1,
 1,
 2,
 3,
 3,
 4,
 0,
 1,
 1,
 2,
 3,
 4,
 0,
 1,
 1,
 1,
 2,
 3,
 3,
 0,
 1,
 3,
 4,
 2,
 2,
 3,
 3,
 4,
 4,
 0,
 1,
 0,
 1,
 1,
 1,
 3,
 0,
 1,
 2,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 4,
 4,
 0,
 0,
 0,
 1,
 3,
 3,
 4,
 4,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 3,
 4,
 4,
 0,
 2,
 2,
 1,
 2,
 3,
 4,
 4,
 2,
 3,
 4,
 4,
 4,
 4,
 4,
 1,
 2,
 2,
 3,
 4,
 0,
 2,
 3,
 0,
 1,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 4,
 0,
 0,
 1,
 3,
 4,
 0,
 0,
 0,
 2,
 4,
 1,
 2,
 3,
 4,
 0,
 3,
 1,
 2,
 4,
 4,
 1,
 3,
 4,
 0,
 1,
 0,
 1,
 2,
 3,
 0,
 3,
 3,
 3,
 3,
 6,
 0,
 2,
 2,
 3,
 0,
 1,
 2,
 2,
 2,
 6,
 0,
 2,
 2,
 0,
 1,
 0,
 4,
 2,
 3,
 0,
 1,
 1,
 1,
 2,
 2,
 3,
 4,
 4,
 2,
 3,
 3,
 4,
 0,
 0,
 2,
 2,
 2,
 3,
 3,
 3,
 2,
 2,
 2,
 4,
 4,
 4,
 5,
 6,
 6,
 2,
 2,
 3,
 3,
 5,
 5,
 2,
 3,
 3,
 3,
 4,
 4,
 5,
 0,
 0,
 1,
 4,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 0,
 1,
 2,
 4,
 4,
 1,
 3,
 0,
 0,
 0,
 0,
 1,
 4,
 3,
 3,
 4,
 1,
 1,
 3,
 4,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 2,
 4,
 1,
 2,
 2,
 4,
 4,
 4,
 0,
 2,
 3,
 3,
 4,
 0,
 0,
 1,
 1,
 2,
 2,
 4,
 4,
 2,
 4,
 1,
 2,
 4,
 4,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 3,
 4,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 0,
 1,
 2,
 4,
 4,
 0,
 0,
 2,
 2,
 0,
 2,
 4,
 4,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 3,
 4,
 0,
 0,
 2,
 2,
 4,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 3,
 4,
 4,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 4,
 1,
 1,
 3,
 3,
 4,
 0,
 4,
 4,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 4,
 4,
 0,
 0,
 1,
 3,
 3,
 3,
 0,
 1,
 1,
 1,
 1,
 3,
 0,
 1,
 3,
 1,
 1,
 1,
 3,
 0,
 1,
 1,
 1,
 1,
 3,
 4,
 4,
 0,
 2,
 0,
 1,
 1,
 3,
 3,
 4,
 2,
 2,
 1,
 3,
 4,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 3,
 3,
 4,
 4,
 6,
 6,
 6,
 6,
 1,
 1,
 2,
 2,
 4,
 1,
 2,
 4,
 4,
 1,
 2,
 3,
 3,
 0,
 0,
 1,
 1,
 1,
 2,
 3,
 3,
 4,
 4,
 0,
 1,
 2,
 2,
 4,
 4,
 2,
 3,
 4,
 4,
 0,
 1,
 1,
 3,
 0,
 1,
 0,
 3,
 3,
 4,
 0,
 2,
 3,
 4,
 0,
 1,
 2,
 2,
 2,
 3,
 4,
 1,
 1,
 2,
 2,
 3,
 3,
 3,
 4,
 4,
 0,
 0,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 2,
 2,
 2,
 3,
 4,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 3,
 4,
 0,
 0,
 1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 0,
 0,
 1,
 2,
 3,
 4,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 3,
 3,
 4,
 4,
 1,
 2,
 2,
 2,
 3,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 1,
 1,
 2,
 4,
 4,
 0,
 1,
 4,
 1,
 3,
 3,
 4,
 0,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 4,
 4,
 0,
 1,
 1,
 1,
 2,
 2,
 4,
 0,
 0,
 2,
 2,
 2,
 3,
 3,
 3]

In [27]:
data["Day of week"] = week_list

In [28]:
display(data)

,Reason1,Reason2,Reason3,Reason4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month value,Day of week
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3

In [29]:
data["Education"].unique()

array([1, 3, 2, 4], dtype=int64)

0 -> higher(0) edu<br>
1 -> grad(1) <br>
2 -> post grad(1)<br>
3 -> masters & phd(1)

In [30]:
data["Education"] = data["Education"].map({1:0,2:1,3:1,4:1})

In [31]:
data["Education"].unique()

array([0, 1], dtype=int64)

In [32]:
data["Education"].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [33]:
data.head(10)

,Reason1,Reason2,Reason3,Reason4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month value,Day of week
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3
5,0,0,0,1,23,2015-07-10,179,51,38,239.554,31,0,0,0,2,7,4
6,0,0,1,0,22,2015-07-17,361,52,28,239.554,27,0,1,4,8,7,4
7,0,0,0,1,23,2015-07-24,260,50,36,239.554,23,0,4,0,4,7,4
8,0,0,1,0,19,2015-07-06,155,12,34,239.554,25,0,2,0,40,7,0
9,0,0,1,0,22,2015-07-13,235,11,37,239.554,29,1,1,1,8,7,0

In [34]:
data.to_csv('preprocess.csv')